.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.header {
  grid-area: header;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 8px;

  gap: 8px;

  background-color: #dd0031;

  & span[menu] {
    color: white;
    
    cursor: pointer;
  }
}

.body {
  grid-area: body;

  height: calc(100vh - 76px);
}

.footer {
  grid-area: footer;
}
